global
   log "/dev/log" format rfc5424 daemon notice
   stats socket /run/haproxy/admin.sock mode 660 level admin
   stats timeout 30s
   #spread-checks 5

resolvers dns-crypt
   parse-resolv-conf
   hold valid 300s
   # How many times to retry a query
defaults
   default-server resolvers dns-crypt
   mode tcp
   log global
   log-format " %ci:%cp [%t]  %ft port %fp  %b/%s %Tw/%Tc/%Tt %B %ts  %ac/%fc/%bc/%sc/%rc %sq/%bq "
   balance leastconn
   timeout connect 3s
   timeout server 30s
   timeout client 30s
   default-server inter 10s
# Prometheus exporter
frontend prometheus_exporter
    bind 0.0.0.0:9101   # keep it local; tunnel or reverse-proxy if needed
    mode http
    http-request use-service prometheus-exporter

frontend xray-frontend
   bind *:443  #xray tcp tls
   bind *:7443 #xray h2 tls
   bind *:6443 #xray tcp tls
   bind *:8443 #xray tcp tls
   bind *:3443 #xray tcp tls

   # port 443 was required for AdGuard home and DNS over https. mapping to a new port config [start]
   acl acl_443 dst_port 443
   tcp-request connection set-dst-port int(4443) if acl_443
   # port 443 was required for AdGuard home and DNS over https. mapping to a new port config [end]
   use_backend xray-backend-servers


backend xray-backend-servers
   option tcp-check
   tcp-check connect port 8443
   server xraysk        [2a09:31c0:beef::a9]   check 
   server xraych        [2a0d:5600:30:4b5f::1]    check backup
   server xraysb        [2a09:31c0:babe::11]      check

frontend ocserv-vpn
   bind *:4433 # openconnect server
   # When operating HAProxy in TCP mode, which is set with mode tcp, timeout server should be the same as timeout client. Link: https://gitlab.com/openconnect/ocserv/-/issues/431
   timeout client 305s
   use_backend ocserv-backend-servers


backend ocserv-backend-servers
   # When operating HAProxy in TCP mode, which is set with mode tcp, timeout server should be the same as timeout client.[start]
   timeout server 305s
   # When operating HAProxy in TCP mode, which is set with mode tcp, timeout server should be the same as timeout client.[end]
   option tcp-check
   tcp-check connect port 4433
   balance source
   server ocservSK     [2a09:31c0:beef::a9]   send-proxy-v2  check
   server ocservCH     [2a0d:5600:30:4b5f::1]    send-proxy-v2  check backup
   server ocservsb     [2a09:31c0:babe::11]      send-proxy-v2  check


frontend outline-vpn
   bind *:5443 # main process for outline (any tcp)
   timeout client 305s
   use_backend outline-backend-servers

backend outline-backend-servers
   option tcp-check
   tcp-check connect port 5443
   server outline6sk     [2a09:31c0:beef::a9]     check
   server outline6ch     [2a0d:5600:30:4b5f::1]      check backup
   server outline6sb     [2a09:31c0:babe::11]        check

frontend uae-vpn
   bind *:10443
   use_backend uae-backend-servers

backend uae-backend-servers
   option tcp-check
   tcp-check connect port 10443
   server uae6     [2406:da17:f8b:c679:af0:cfd:bde7:751b]    check

frontend ovpn-vpn
   bind *:49443
   use_backend ovpn-vpn-backend-servers


backend ovpn-vpn-backend-servers
   option tcp-check
   tcp-check connect port 49443
   balance source
   server ovpn6sk  [2a09:31c0:beef::a9]  check 
   server ovpn6ch  [2a0d:5600:30:4b5f::1]  check backup
   server ovpn6sb  [2a09:31c0:babe::11]     check

