[Unit]
Description=websocket tunnel with wstunnel - client side
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/udp2raw -c -l0.0.0.0:5443 -r[2a09:31c0:beef::a9]:8000 -k vghdAbQf15su1zk4aTav0M66DdBBe --raw-mode faketcp -a --fix-gro

[Install]
WantedBy=multi-user.target